<style type="text/css">
* {
	box-sizing: border-box;

}
	.text
	{
		margin: 40px;
		width: 300px;
		box-sizing: border-box;
	}

	.box
	{
		background-color:gray;
		padding: 10px 10px 10px 10px;
		border: 1px solid black;
		box-sizing: border-box;
		width: 300px;

	}
	#p1 {
		background-color: gray;
		position: relative;
		top:10px;
		left:10px;
		width: 300px;
		height: 150px;
	}

	#p2 {
		background-color: gray;
		position: relative;
		top:-180px;
		left:468px;
		width: 300px;
		height: 150px;
	}

	#p3 {
		background-color: gray;
		position: relative;
		top:-370px;
		left:920px;
		width: 300px;
		height: 150px;
	}

	#t1{
		background-color: pink;
		color:black;
		position: relative;
		left:200px;
		width: 87px;
		margin-top:-10px;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
	}

	#t2{
		background-color: red;
		color:white;
		position: relative;
		left:200px;
		width: 88px;
		margin-top:-10px;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
	}

	#t3{
		background-color: yellow;
		color:black;
		position: relative;
		left:200px;
		width: 88px;
		margin-top:-10px;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
	}

</style>
